<tr id="tr_<%= dom_id(menu_item) %>">
  <td><%= best_in_place menu_item, :name %></td>
  <td><%= best_in_place menu_item, :price %></td>
  <td><%= best_in_place menu_item, :serial_num %></td>
  <td>
    <%= link_to 'Destroy', vendor_menu_item_path(@vendor, menu_item),  confirm: 'Are you sure?', method: :delete, remote: true %>
  </td>
</tr>
