<h2>
  <%= link_to '所有商家', vendors_path %>
  >
  <%= @vendor.name %>的菜单
</h2>

<% if @menu_items.size > 15 %>
  <%= link_to '添加新菜单', new_vendor_menu_item_path(@vendor), class: 'btn', style: 'margin-bottom: 7px;' %>
<% end %>

<table class="table table-striped table-bordered">
  <tr>
    <th width="40%">Name</th>
    <th width="20%">Price</th>
    <th width="20%">Serial num</th>
    <th></th>
  </tr>

<% @menu_items.each do |menu_item| %>
  <tr>
    <td><%= best_in_place menu_item, :name %></td>
    <td><%= best_in_place menu_item, :price %></td>
    <td><%= best_in_place menu_item, :serial_num %></td>
    <td>
      <%= link_to 'Destroy', vendor_menu_item_path(@vendor, menu_item),  confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to '添加新菜单', new_vendor_menu_item_path(@vendor), class: 'btn' %>
