<h2>
  <%= link_to '所有商家', vendors_path %>
  >
  <%= @vendor.name %>的菜单
</h2>

<% if @menu_items.size > 15 %>
  <%= link_to '添加新菜单', new_vendor_menu_item_path(@vendor), class: 'btn', style: 'margin-bottom: 7px;' %>
<% end %>

<table class="table table-striped table-bordered">
  <tr>
    <th width="40%">Name</th>
    <th width="20%">Price</th>
    <th width="20%">Serial num</th>
    <th></th>
  </tr>

  <%= render partial: "tr_menu_item", collection: @menu_items, as: :menu_item %>
</table>

<a class="btn" data-toggle="modal" href="#menu_item_modal_form" >
  <i class="icon-plus-sign"></i>
  添加新菜单
</a>

<div class="modal hide" id="menu_item_modal_form">
  <%= render "modal_form" %>
</div>
