<h2>
  余额管理
  <span class="label label-info"><%= t '.remaining_sum' %><%= number_to_currency Balance.remaining_sum, unit: '￥', precision: 1 %></span>
</h2>

<div id="balances-management">
  <% @balances.each do |balance| %>
    <div class="person">
      <div class="pull-left avatar"><%= gravatar_image_tag balance.user.email, gravatar: {}, class: 'img-rounded' %></div>
      <div class="body">
        <div class="name"><%= balance.user.identifier %></div>
        <div>余额: <%= balance.amount %></div>
        <div class="ops"><%= link_to '充值', '#myModal', class: 'btn btn-mini btn-info', data: {user_identifier: balance.user.identifier, balance_id: balance.id, toggle: 'modal'}, onclick: "javascripts:fill_form('#{balance.user.identifier}', '#{balance.id}');" %></div>
      </div>
    </div>
  <% end %>
</div>

<div class="modal hide" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3 id='user_email'></h3>
    <%= form_for [:admin, @balance_log], :html => {:class => "form-inline"}  do |f|%>
    </div>

    <div class="modal-body input-append">
      <%= f.text_field :amount, :class => "input-small ", :style => "text-align:right;" %>
      <span class='add-on'>￥</span>
      <%= f.hidden_field :balance_id, :id => "balance_id" %>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>

    <div class="modal-footer">
      <%= f.submit "充值", :class=>"btn btn-primary"%>
    <% end%>
  </div>
</div>

<script type='text/javascript'>
  function fill_form(email, balance_id){
    $('#user_email').text(email + "充值");
    $('#balance_id').val(balance_id);
  }
</script>
