<div class="row">

	<div class="span2">
		<%= render "sidebar" %>   
	</div>
	<div class="span10">

		<%= simple_form_for @user, url: update_password_user_path, :html => {:class => "form-inline"} do |f|%>
		<div class="inputs">
			<%= f.input :current_password, :required => true %>
			<%= f.input :password, :autocomplete => "off", :required => true %>
			<%= f.input :password_confirmation, :required => true %>
		</div>
		<div class="actions">
			<%= f.button :submit, "Update" %>
		</div>
		<%end%>
	</div>

</div>
