<div class="row">

  <div class="span2">
   <%= render "sidebar" %>
 </div>
 <div class="span10">

  <%= simple_form_for @user , :html => {:class => "form-horizontal"} do |f|%>
  <div class="inputs">
    <%= f.input :email, disabled: true %>
    <%= f.input :name, :placeholder => @user.name || "Name", :class => "input-small" %>
  </div>
  <div class="form-actions">
  	<%= f.submit "Update", :class => "btn-primary" %>
  </div>
  <%end%>
</div>

</div>
