<h2 class="pull-left">充值记录</h2>

<span class="pull-right label <%= current_user.account_balance > 20 ? 'label-info' : 'label-warning' %>">
  <%= t '.current_account_balance' %><%= number_to_currency current_user.account_balance, unit: '￥' %>
</span>


<br/>

<div id="calendar">
  <h2 id="month">
    <%= link_to "<", year: @date.prev_month.year, month: @date.prev_month.month %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", year: @date.next_month.year, month: @date.next_month.month %>
  </h2>

<%= calendar_for @bills, year: @date.year, month: @date.month do |t| %>
  <%= t.head 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' %>
  <%= t.day day_method: :created_at do |day, bills| %>
    <%= day.day %>
    <br/>
    <% balance_logs = bills.select {|bill| bill.is_a?(BalanceLog)} %>
    <% orders = bills.select {|bill| bill.is_a?(Order)} %>
    <% balance_logs.each do |log| %>
      <span class="label label-important" rel="tooltip" title="充值记录"><%= number_to_currency log.amount, :unit => "￥" %></span>
      <br/>
    <% end %>
    <% orders.each do |order| %>
      <span class="label label-success" rel="popover" data-content="<%= render partial: 'order_popover', locals: {order: order} %>"><%= number_to_currency order.total_price, :unit => "￥" %></span> <br/>
    <% end %>

  <% end %>
<% end %>
</div>
