<h2 class="pull-left">消费详情</h2>

<span class="pull-right label <%= current_user.account_balance > 20 ? 'label-info' : 'label-warning' %>">
  <%= t '.current_account_balance' %><%= number_to_currency current_user.account_balance, unit: '￥', precision: 1 %>
</span>

<div class="clearfix"></div>

<div id="calendar">
  <h2 id="month">
    <div class="btn-group" style="display: inline">
      <%= link_to "<", bills_path(year: @date.prev_month.year, month: @date.prev_month.month), class: 'btn' %>
      <%= link_to ">", bills_path(year: @date.next_month.year, month: @date.next_month.month), class: 'btn' %>
    </div>
    <%= link_to "Today", bills_path, class: 'btn', style: "float: left; margin-left: 5px;" %>
    <%=h @date.strftime("%B %Y") %>
  </h2>

<%= calendar_for @bills, year: @date.year, month: @date.month, html: {class: 'table table-bordered'} do |t| %>
  <%= t.head 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' %>
  <%= t.day day_method: :created_at do |day, bills| %>
    <%= day.day %>
    <br/>
    <% balance_logs = bills.select {|bill| bill.is_a?(BalanceLog)} %>
    <% orders = bills.select {|bill| bill.is_a?(Order)} %>
    <% balance_logs.each do |log| %>
      <span class="label label-important" rel="tooltip"><%= number_to_currency log.amount, :unit => "￥", precision: 1 %></span>
      <br/>
    <% end %>
    <% orders.each do |order| %>
      <span class="label label-success" rel="popover" data-content="<%= render partial: 'order_popover', locals: {order: order} %>"><%= number_to_currency order.total_price, :unit => "￥", precision: 1 %></span> <br/>
    <% end %>

  <% end %>
<% end %>
</div>
