<div class="row" ng-app="OrdersApp" ng-controller="OrdersCtrl" style="min-height: 400px;">
  <div class="span6">
    <%= render :partial => "application/errors", :locals => {:target => @order}  %>
    <span>&nbsp;</span>

    <div ng-repeat="menu in menus">
      <h3 id="vendor_{{menu.vendor_id}}" ng-bind-template="{{menu.vendor_name}}"></h3>
      <div ng-repeat="category in menu.categories">
        <h5 ng-bind-template="{{category.category_name}}"></h5>
        <ul id="menu_items">
          <li ng-repeat="menu_item in category.menu_items" ng-click="addOrderItem(menu_item)" style="display: none;" ng-show="menu_item">
              <span class="name" ng-bind-template="{{menu_item.name}}"></span>
              <span class="price" ng-bind-template="{{ menu_item.price }}"></span>
              <span class="count" ng-bind-template="{{ orderItemsCount(menu_item.id) }}"></span>
          </li>
        </ul>
      </div>
    </div>
  </div><!-- span7 end -->

  <div class="span5">
    <div id="order_form_wrapper" ng-hide="isOrderItemsEmpty();" style="display: none;">
      <h4>我的订单</h4>
      <%= simple_form_for(@order, html: {id: 'order_form'}) do |f| %>
        <ul id="order_items">
          <li ng-repeat="order_item in order_items">
              <span class="name" ng-bind-template="{{ order_item.name }}"></span>
              <span class="right">
                <span class="price" ng-bind-template="{{ order_item.price }}"></span>
                <span class="multiply">x</span>
                <span class="count" ng-bind-template="{{ order_item.count }}"></span>
                <a href="javascript:;" class="delete" ng-click="removeOrderItem(order_item)"><i class="icon-minus-sign icon-white"></i></a>
                <input name="order[order_items_attributes][][menu_item_id]" type="hidden" value="{{ order_item.id }}">
                <input name="order[order_items_attributes][][amount]" type="hidden" value="{{ order_item.count }}">
              </span>
          </li>
        </ul>
        <div id="total_cost" class="pull-right">总价：￥<span>{{ totalPrice() }}</span></div>
        <%= f.button :submit, t('confirm'), class: 'btn btn-success' %>
      <% end %>
    </div>

  </div><!-- span5 end -->
</div>


<ul id="quick-nav" class="nav nav-tabs nav-stacked">
  <% MealTime.today.vendors.each do |vendor| %>
    <li data-target="<%= dom_id vendor %>"><%= link_to vendor.name, "javascript:;" %></li>
  <% end %>
</ul>

<%= content_for :head do %>
  <%= stylesheet_link_tag    "orders", :media => "all" %>
<% end %>
