<div class="row">
  <div class="span6">
    <%= render :partial => "application/errors", :locals => {:target => @order}  %>

    <% MealTime.today.vendors.each do |vendor| %>
      <h3 id="<%= dom_id vendor %>"><%= vendor.name %></h3>

      <% vendor.categories_with_menu_items.each do |category, menu_items| %>
        <h5><%= category.name %></h5>

        <ul id="menu_items">
          <% menu_items.each do |menu_item| %>
            <li id="<%= dom_id menu_item %>" data-menu-id="<%= menu_item.id %>">
              <span class="name">
                <%= menu_item.name %>
                <%= rating_summary_tag menu_item.average_rating, menu_item.last_comment if menu_item.last_comment %>
              </span>
              <span class="price"><%= menu_item.price %></span>
              <span class="count"><%= (order_item = @order.order_items.detect {|order_item| order_item.menu_item_id == menu_item.id }).nil? ? raw('&nbsp;') : order_item.amount %></span>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div><!-- span7 end -->

  <div class="span5">
    <div id="order_form_wrapper" class="<%= @order.new_record? ? 'hide' : '' %>">
      <h4>我的订单</h4>
      <%= simple_form_for(@order, html: {id: 'order_form'}) do |f| %>
        <ul id="order_items">
          <% @order.order_items.each do |order_item| %>
            <% menu_item = order_item.menu_item %>
            <li id="order_item_<%= menu_item.id %>" data-menu-id="<%= menu_item.id %>">
              <span class="name"><%= menu_item.name %></span>
              <span class="right">
                <span class="price"><%= order_item.price %></span>
                <span class="multiply">x</span>
                <span class="count"><%= order_item.amount %></span>
                <a href="javascript:;" class="delete"><i class="icon-minus-sign icon-white"></i></a>
                <input name="order[order_items_attributes][][menu_item_id]" type="hidden" value="<%= menu_item.id %>">
                <input name="order[order_items_attributes][][amount]" type="hidden" value="<%= order_item.amount %>">
              </span>
            </li>
          <% end %>
        </ul>
        <div id="total_cost" class="pull-right">总价：￥<span><%= @order.total_price %></span></div>
      <%= f.button :submit, t('confirm'), class: 'btn btn-success' %>
      <% end %>
    </div>

  </div><!-- span5 end -->
</div>  


<ul id="quick-nav" class="nav nav-tabs nav-stacked">
  <% MealTime.today.vendors.each do |vendor| %>
    <li data-target="<%= dom_id vendor %>"><%= link_to vendor.name, "javascript:;" %></li>
  <% end %>
</ul>

<%= content_for :head do %>
  <%= stylesheet_link_tag    "orders", :media => "all" %>
<% end %>
<%= content_for :footer do %>
  <%= javascript_include_tag "orders" %>
<% end %>

