<%= render :partial => "application/errors", :locals => {:target => @order}  %>

  <% MealTime.today.vendors.each do |vendor| %>
  <h3 id="<%= dom_id vendor %>"><%= vendor.name %></h3>
  <ul id="menu_items">
    <% vendor.menu_items_order_by_popular.each do |menu_item| %>
    <li id="<%= dom_id menu_item %>" data-menu-id="<%= menu_item.id %>">
      <span class="name"><%= menu_item.name %></span>
      <span class="price"><%= menu_item.price %></span>
      <span class="count"></span>
    </li>
    <% end %>
  </ul>
  <% end %>

<ul class="nav nav-tabs nav-stacked" style="position:fixed;top: 200px; left: 0px;">
  <% MealTime.today.vendors.each do |vendor| %>
    <!--li><%= link_to vendor.name, "##{dom_id(vendor)}" %></li-->
    <li><%= link_to vendor.name, "javascript:$('body').scrollTo($('##{dom_id(vendor)}').offset().top - 41, 0, {duration: 250})" %></li>
  <% end %>
</ul>
              <%#= text_field_tag "menu_items[][count]", @order.order_items.detect {|order_item| order_item.menu_item == menu_item}.try(:amount).to_i, type: 'number', min: 0 %>

<%= content_for :head do %>
  <%= javascript_include_tag "orders" %>
  <%= stylesheet_link_tag    "orders", :media => "all" %>
<% end %>

<div id="order_form_wrapper" class="hide" style="position: absolute; top: 50px; right: 50px; background-color: yellow;">
<%= simple_form_for(@order) do |f| %>
<ul id="order_items">
</ul>
    <%= f.button :submit, t('confirm'), class: 'btn btn-success' %>
<% end %>
</div>