
<%= form_for @order do |f| %>
  <h2>下面是我点的餐</h2>
  <%= f.hidden_field :user_id %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr> <th> 编号 </th> <th>供应商</th> <th> 名称 </th> <th> 价格 </th> <th> 数量 </th> <th> 小计 </th> </tr>

    </thead>
    <tbody>
      <%= f.fields_for :order_items do |ff| %>
        <%= ff.hidden_field :menu_item_id %>
        <%= ff.hidden_field :price %>
        <%= ff.hidden_field :amount %>
        <tr> 
          <td> <%= ff.object.menu_item.serial_num %></td>
          <td> <%= ff.object.menu_item.vendor.name %></td>
          <td> <%= ff.object.menu_item.name %></td>
          <td> <%= ff.object.price %></td>
          <td><%= ff.object.amount %></td>
          <td><%= ff.object.total_price %></td>
        </tr>
      <%end%>

    </tbody>
  </table>

  总价: <%= @order.total_price %>
  <%= f.submit "确认", :class => "btn-success btn"%>
  <%= link_to "取消", new_order_path, :class => "btn-danger btn" %>
<% end %>
