<% if current_user.account_balance < 0 %>
  <%= error_alert t('.balance_is_too_less', n: current_user.account_balance) %>
<% elsif current_user.account_balance < Balance::REMIND_AMOUNT %>
  <%= warning_alert t('.balance_is_less', n: current_user.account_balance) %>
<% end %>

<% if @today_meal_time %>

  <% if @today_order.blank? %>
    <% if @today_meal_time.can_not_order_now? %>
      <span class='alert alert-warning'> 点餐时间已过，如有疑问或想继续点餐请联系管理员</span>
    <%else%>
      <%= link_to t('.order'), new_order_path %>
    <%end%>

  <% else %>
    <h2>我的订单</h2>
    <table class="table table-bordered">
      <thead>
        <tr> <th> 编号 </th> <th>供应商</th> <th> 名称 </th> <th> 价格 </th> <th> 数量 </th> <th> 小计 </th> </tr>
      </thead>
      <tbody>
        <%- @today_order.order_items.each do |object| %>
          <tr> 
            <td> <%= object.serial_num %></td>
            <td> <%= object.vendor.name %></td>
            <td> <%= object.name %></td>
            <td> <%= object.price %></td>
            <td> <%= object.amount %></td>
            <td> <%= object.total_price %></td>
          </tr>
        <%end%>
      </tbody>
    </table>

    <div>
      <% if @today_order.meal_time.unlock? %>
        <%= link_to edit_icon_tag, edit_order_path(@today_order), class: 'btn btn-info' %>
        <%= link_to delete_icon_tag(t('.delete_order')), order_path(@today_order), class: 'btn btn-danger', confirm: t('delete_confirm'), method: 'delete' %>
      <% end %>
      <p class='pull-right highlight'>
        <span class="label label-info">
          总价:<%= number_to_currency(@today_order.total_price, :unit => "￥") %>
        </span>
      </p>
    </div>

  <% end %>
<% else %>
  <%= t '.no_mom' %>
<% end %>
