<% if current_user.account_balance < 0 %>
  <%= error_alert t('.balance_is_too_less', n: current_user.account_balance) %>
<% elsif current_user.account_balance < Balance::REMIND_AMOUNT %>
  <%= warning_alert t('.balance_is_less', n: current_user.account_balance) %>
<% end %>

<% if @today_meal_time %>

  <% if @today_order.present? %>

    <h2>我的订单</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>供应商</th> <th> 名称 </th> <th> 价格 </th> <th> 数量 </th> <th> 小计 </th>
          <% if @today_meal_time.closed? %>
            <th width="20%">评分</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <%- @today_order.order_items.each do |order_item| %>
          <tr id="<%= dom_id order_item %>">
            <td> <%= order_item.vendor.name %></td>
            <td> <%= order_item.name %></td>
            <td> <%= order_item.price %></td>
            <td> <%= order_item.amount %></td>
            <td> <%= order_item.total_price %></td>
            <% if @today_meal_time.closed? %>
              <td>
                <div>
                <% (1..5).each do |i| %>
                  <% options = {name: "rating-#{dom_id order_item}", type: "radio", class: "rating", value: i, data: {order_item_id: order_item.id}} %>
                  <% options[:disabled] = "disabled" if order_item.rating.present? %>
                  <% options[:checked] = "checked" if order_item.rating == i %>
                  <%= content_tag :input, options do %>
                  <% end %>
                <% end %>
                </div>
                <br/>
                <div class="comment"><%= order_item.comment %></div>
              </td>
            <% end %>
          </tr>
        <%end%>
      </tbody>
    </table>

    <div>
      <% if @today_meal_time.unlock? %>
        <%= link_to edit_icon_tag, edit_order_path(@today_order), class: 'btn btn-info' %>
        <%= link_to delete_icon_tag(t('.delete_order')), order_path(@today_order), class: 'btn btn-danger', data: {confirm: t('delete_confirm')}, method: 'delete' %>
      <% end %>
      <p class='pull-right highlight'>
        <span class="label label-info">
          总价:<%= number_to_currency(@today_order.total_price, :unit => "￥") %>
        </span>
      </p>
    </div>

  <% elsif !@today_meal_time.activated? %>
    <span class='alert alert-warning'> 点餐时间已过，如有疑问或想继续点餐请联系管理员</span>
  <% end %>
  
<% else %>
  <%= t '.no_mom' %>
<% end %>

<div class="clearfix"></div>

<div class="modal hide fade" id="ratingModal">
  <%= form_tag "", remote: true, id: 'ratingForm', method: :put do %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">添加评论</h3>
  </div>
  <div class="modal-body">
    <%= text_area_tag "comment", nil, placeholder: '写点评论吧，比如 这个很赞，物美价廉！', style: "width: 90%;height: 90px;" %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">不想写</button>
    <button class="btn btn-primary">提交</button>
  </div>
  <% end %>
</div>

<% if @last_order %>
<h3>上次的订单</h3>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>供应商</th> <th> 名称 </th> <th> 价格 </th> <th> 数量 </th> <th> 小计 </th>
      <th width="20%">评分</th>
    </tr>
  </thead>
  <tbody>
    <%- @last_order.order_items.each do |order_item| %>
    <tr id="<%= dom_id order_item %>">
      <td> <%= order_item.vendor.name %></td>
      <td> <%= order_item.name %></td>
      <td> <%= order_item.price %></td>
      <td> <%= order_item.amount %></td>
      <td> <%= order_item.total_price %></td>
      <td>
        <div>
          <% (1..5).each do |i| %>
          <% options = {name: "rating-#{dom_id order_item}", type: "radio", class: "rating", value: i, data: {order_item_id: order_item.id}} %>
          <% options[:disabled] = "disabled" if order_item.rating.present? %>
          <% options[:checked] = "checked" if order_item.rating == i %>
          <%= content_tag :input, options do %>
          <% end %>
          <% end %>
        </div>
        <br/>
        <div class="comment"><%= order_item.comment %></div>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
<% end %>
