<h1>历史订单查询</h1>
<table class="table">
  <% @orders.each do |order| %>
    <tr>
      <td colspan="2">
        <span class="label label-info">
          <%= l order.created_at, format: :date %>
          <%= number_to_currency order.total_price, unit: '￥' %>
        </span>
      </td>
    </tr>
    <% order.order_items.each do |item| %>
      <tr>
        <td>
          <%= item.menu_item.name %>
        </td>
        <td>
          <%= number_to_currency item.price, unit: '￥' %>
          <% if item.amount > 1 %>
            x <%= item.amount %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= will_paginate @orders %>
