<h1>添加新商家</h1>

<%= simple_form_for(@vendor) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Back', vendors_path, class: 'btn' %>
  </div>
<% end %>

