<h2><%= t '.sign_in' %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="inputs">
    <%= f.input :email, :required => false, :autofocus => true, :label => t('.email') %>
    <%= f.input :password, :required => false, :label => t('.password') %>
    <%= f.input :remember_me, :as => :boolean, :label => t('.remember_me') if devise_mapping.rememberable? %>
  </div>

  <div class="actions">
    <%= f.button :submit, t('.sign_in') %>
  </div>
<% end %>

<%= render "links" %>
