<h2>
  <%= @vendor.name %>的菜单
</h2>

<a class="btn" data-toggle="modal" href="#menu_item_modal_form" >
  <i class="icon-plus-sign"></i>
  添加新菜单
</a>

<br/><br/>

<table class="table table-striped table-bordered" id="menu_items_table">
  <tr>
    <th width="40%"><%= t ('activerecord.attributes.menu_item.name') %></th>
    <th width="20%"><%= t ('activerecord.attributes.menu_item.price') %></th>
    <th width="20%"><%= t ('activerecord.attributes.menu_item.serial_num') %></th>
    <th>操作</th>
  </tr>

  <%= render partial: "tr_menu_item", collection: @menu_items, as: :menu_item %>
</table>

<div class="modal hide" id="menu_item_modal_form">
  <%= render "modal_form" %>
</div>
