<!DOCTYPE html>
<html>
  <head>
    <title>OFLunch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <%= render 'nav' %>
    <div class="container">
      <%= render 'notice' %>

      <%= yield %>
      <footer class="footer">
        <hr/>
        <p>
          @openfeint
          <%= mail_to 'fred.liang@gree.co.jp', '报告Bug' %>
        </p>
      </footer>
    </div>

    <%= javascript_include_tag "application" %>
    <%= yield :footer %>

    <% if original_user %>
      <div class="alert alert-info" id="switch_account_bar">
        切换回 <%= link_to original_user.name, change_sessions_path, method: 'put' %>
      </div>
    <% end %>
  
  </body>
</html>
