<%= render :partial => "application/errors", :locals => {:target => @meal_time}  %>
<%= simple_form_for(@meal_time) do |f| %>

  <div class="form-inputs">
    <%= f.collection_check_boxes :vendor_ids, Vendor.all, :id, :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "MOD" %>
    <%= link_to 'Back', meal_times_url, :class => "btn" %>
  </div>
<% end %>
